## Deliverable 3. Create a Travel Itinerary Map.

In [33]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [34]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

clean_hotel_df = pd.DataFrame(vacation_df)
clean_hotel_df
# vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Ambon,ID,79.23,light rain,-3.70,128.18,Swiss-Belhotel Ambon
1,5,Asfi,MA,71.69,clear sky,32.30,-9.24,Hôtel Abda
2,7,Ravar,IR,82.29,clear sky,31.27,56.81,computertik
3,9,Molepolole,BW,63.82,clear sky,-24.41,25.50,Butterfly Tree Guesthouse
4,10,Saint George,US,74.62,few clouds,37.10,-113.58,Best Western Plus Abbey Inn
...,...,...,...,...,...,...,...,...
349,663,Quelimane,MZ,75.15,scattered clouds,-17.88,36.89,Hotel Flamingo
350,665,Haverfordwest,GB,62.19,scattered clouds,51.80,-4.97,Silverdale Lodge
351,667,Monrovia,LR,76.77,overcast clouds,6.30,-10.80,Eco Hotel
352,670,Pringsewu,ID,73.31,overcast clouds,-5.36,104.97,Urban Style by Front One
353,671,Ribeira Brava,PT,79.00,scattered clouds,32.65,-17.07,Hotel do Campo

In [35]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd><dt><dd>and</dt></dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [47]:
# 4a. Add a marker layer for each city to the map.
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(29,32), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Ryde"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Ryde"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Haverfordwest"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Atherton"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Oxford"]

In [41]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
end = vacation_end[["Lat", "Lng"]].to_numpy()
stop1 =  vacation_stop1[["Lat", "Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()

Ryde = (start[0,0], start[0,1])
Haverfordwest = (stop1[0,0], stop1[0,1])
Atherton = (stop2[0,0], stop2[0,1])
Oxford = (stop3[0,0], stop3[0,1])

In [48]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
itinerary = gmaps.directions_layer(Ryde, Ryde, waypoints = [Haverfordwest, Atherton, Oxford], travel_mode="DRIVING")
fig.add_layer(itinerary)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,206,Northam,GB,63.39,scattered clouds,51.03,-4.22,Durrant House Hotel
1,665,Haverfordwest,GB,62.19,scattered clouds,51.80,-4.97,Silverdale Lodge
2,171,Atherton,GB,62.22,scattered clouds,53.52,-2.49,The Mercury Motel
3,297,Oxford,GB,68.76,few clouds,51.75,-1.26,Malmaison Oxford

In [50]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd><dt><dd>and</dt></dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [51]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center = (30, 31), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))